<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHttpConnectorService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8901/SpecificationAutomation"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHttpConnectorService"
                contract="DriveWorksSpecificationAutomation.IHttpConnectorService"
                name="BasicHttpBinding_IHttpConnectorService" />
        </client>
    </system.serviceModel>
</configuration>